.alert {
    margin-top: 16rem;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    border-radius: 0.5rem;
    z-index: 9999;
}

.alert-error {
    padding: 1rem;
    text-align: center;
    width: fit-content;
    background-color: rgb(175 48 48 / 80%);
}

.alert-success {
    padding: 1rem;
    text-align: center;
    width: fit-content;
    background-color: rgb(156 163 41 / 80%);
}

.alert-login {
    margin-top: 2rem;
}

#generic-error {
    display: none;
    margin-top: 60rem;
}

#generic-success {
    display: none;
    margin-top: 60rem;
}

@media only screen and (min-width: 768px) {
    #generic-error {
        margin-top: 30rem;
    }
    #generic-success {
        margin-top: 30rem;
    }
}