.button {
    border-radius: 0.5rem;
    color: var(--main-font-color);
    box-sizing: border-box;
    border: 0.25rem solid rgb(109, 85, 56);

}

.button:hover {
    cursor: pointer;
    color: rgb(185, 185, 165);
    border: 0.25rem solid rgb(75, 58, 38);
}


.submit-button {
    background: linear-gradient(#3c782d, #2f862e, #164416);
    /* background: radial-gradient(#2a9410 33%, #309018 53%, #1b3e0d 82%); */
}

.delete-button {

}

.login-button {
    background: radial-gradient(#8f8d28 14%, #747d20 30%, #3d3e0d 82%);
    padding: 0.5rem;
}

@media only screen and (min-width: 768px) {
    .login-button {
        margin-top: 1.5rem;
    }
}

/* iPad pro and bigger */
@media only screen and (min-width: 1024px) {
    .login-button {
        margin-top: 0.5rem;
    }
}

@media only screen and (min-width: 1440px) {
    
}