.button {
    border-radius: 0.5rem;
    color: #dee0ce;
    box-sizing: border-box;
    border: 0.25rem solid rgb(109, 85, 56);

}

.button:hover {
    cursor: pointer;
    color: rgb(233, 233, 188);
    border: 0.25rem solid rgb(139, 105, 67);
}

.button:active {
    color: rgb(146, 146, 130);
    border: 0.25rem solid rgb(75, 58, 38);
}


.submit-button {
    background: linear-gradient(#3c782d, #2f862e, #164416);
    /* background: radial-gradient(#2a9410 33%, #309018 53%, #1b3e0d 82%); */
}

.delete-button {

}

.login-button {
    background: radial-gradient(#8f8d28 14%, #747d20 30%, #3d3e0d 82%);
    padding: 0.5rem;
}

.toggle-accord-button {
    width: 100%;
    background: radial-gradient(rgb(138 90 36) 4%, rgb(138 90 36) 0%, rgb(62 46 23) 85%);
    font-family: inherit;
    font-size: 3.5rem;
    
}

@media only screen and (min-width: 768px) {
    .login-button {
        margin-top: 1.5rem;
    }
}

/* iPad pro and bigger */
@media only screen and (min-width: 1024px) {
    .login-button {
        margin-top: 0.5rem;
    }
}

@media only screen and (min-width: 1440px) {
    
}