:root {
    --main-form-bg-color: darkkhaki;
}

.loginform {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.loginform>* {
    flex-basis: 10%;
}

.register-form-container {
    /* background: var(--main-form-bg-color); */
    background: linear-gradient(174deg, var(--main-form-bg-color), rgb(146 103 39));
    padding: 1rem;
    line-height: 3rem;
    border-radius: 0.25rem;
    border: 0.1rem solid black;
    box-shadow: 3px 12px 12px 4px #2f2e2e;

}


.register-form-container td {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.add-location-form {
    /* background: darkkhaki; */
    line-height: 3rem;
}

.add-location-form tbody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    background: linear-gradient(180deg, #e8d3b8, rgb(106 92 70));
    justify-content: center;
    
}

.add-location-form tbody>* {
    flex-basis: 49%;
}

.add-location-form td {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-bottom: 0.5rem;
    justify-content: center;
}

.add-location-form td>* {
    text-align: center;
    flex-basis: 75%;
}

.add-location-form table {
    width: 100%;
}

.add-img-container {
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    background-color: #e7d4b0;
}
#locationImage {
    font-size: 1.2rem;
}


/* iPad and bigger */
@media only screen and (min-width: 768px) {

    .add-location-form tbody {
        justify-content: space-evenly;
        /* flex-basis: 40%; */
    }

    .add-location-form tbody>* {
        flex-basis: 51%;
    }


    .register-form-container td {
        /* flex-direction: row;
        justify-content: space-between; */
        text-align: unset;
        display: table-cell;

    }

    .loginform {
        /* flex-direction: column;
        justify-content: center; */
        display: inline-block;

    }

    .loginform>* {
        margin-left: 1rem;
    }
}

/* iPad pro/laptop and bigger */
@media only screen and (min-width: 1024px) {

    /* .add-location-form ul>* {
        flex-basis: 5%;
    } */
    .add-location-form tbody>* {
        /* flex-basis: 34%; */
    }

    .loginform {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }


}

@media only screen and (min-width: 1210px) {


    .loginform {
        display: inline-block;
        /* flex-direction: row; */
        /* margin-top: 1rem; */
    }
    .add-location-form tbody>* {
        flex-basis: 22%;
    }


}