.map-container {
    border: 0.1rem solid black;
    border-top: 0;
    border-bottom: 0;
}


#map {
    width: 100%;
    height: auto;
    min-height: 30rem;
}

.add-location-header {
    text-align: center;
    background: linear-gradient(180deg, var(--main-form-bg-color), rgb(146 103 39));
    padding: 1rem;
    /* line-height: 3rem; */
    border-radius: 0.25rem 0.25rem 0 0;
    border: 0.1rem solid black;
    border-bottom: 0;
}

.add-location-footer {
    text-align: center;
    background: linear-gradient(180deg, var(--main-form-bg-color), rgb(146 103 39));
    border-radius: 0 0 0.25rem 0.25rem;
    border: 0.1rem solid black;
    border-top: 0;
    padding: 0.5rem;
    box-sizing: border-box;
}

.accordion {
    cursor: pointer;
    transition: 0.4s;
    
}

.active, .accordion:hover {
    background: linear-gradient(180deg, var(--main-form-bg-color), rgb(199, 140, 52));
}

.accordion:active {

}

.panel {
    
    background-color: white;
    display: none;
    overflow: hidden;
    color: black;
    border: 0.1rem solid black;
    border-top: 0;
    background: linear-gradient(49deg, #9c7c52, rgb(149 111 52));
    overflow-x: auto;
}

@media only screen and (min-width: 321px) {
    .panel {
        padding: 1rem;
    }
}