article {
    margin: 2rem;
    
}

.front-page-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.front-page-content > * {
    /* flex-basis: 100%; */
}


.add-map-and-form-container {
    box-shadow: 3px 12px 12px 4px #2f2e2e;
}

.info-box {
    background: rgb(100 94 29 / 60%);
    padding: 1rem;
    border-radius: 1rem;
}

