.locations-info {
    background-color: rgba(10, 10, 10, 40%);
    overflow-x: auto;
}

.locations-info table {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
}

.locations-info table, .locations-info th, .locations-info td {
    border: 1px solid rgb(243, 234, 234);
}

.locations-info td, .locations-info th {
    font-size: 2rem;
    padding: 2rem;
}

th, td {
    text-align: left;
}