<!-- Register form -->
<form th:action="@{/register}" method="post" th:fragment="register-form" class="register-form-container" th:object="${userAccount}">
    <table>
        <thead>
            <tr>
                <th colspan="2">
                    <h1>Rekisteröidy</h1>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label for="username">Käyttäjätunnus: </label>   
                </td>
                <td><input type="text" th:name="username"></td>
            </tr>
            <tr>
                <td>
                    <label for="password">Salasana: </label>
                </td>
                <td><input type="password" th:name="password"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <input type="submit" value="Rekisteröidy" class="button submit-button">
                </th>
            </tr>
        </tfoot>
    </table>
</form>

<!-- Add new location form -->
<form th:action="@{/locations/add}" method="post" th:fragment="add-location-form" class="add-location-form">
    <ul>
        <li><label for="locationName">Nimi: </label></li>
        <li><input type="text" th:name="locationName" id="locationName"></li>
        <li><label for="latitude">Latitude: </label></li>
        <li><input type="number" step="any" name="latitude" id="locationLatitude" value="0"></li>
        <li><label for="longitude">Longitude: </label></li>
        <li><input type="number" step="any" name="longitude" id="locationLongitude" value="0"></li>
        <li><input type="submit" value="Tallenna" class="button submit-button"></li>
    </ul>
</form>