<section th:fragment="front-page" class="front-page-content">
    <article>
        <h1>Etusivu</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio quis aut fugiat reiciendis velit, atque eos eligendi reprehenderit! Aperiam eligendi numquam adipisci aut voluptas labore ut saepe tempore quaerat nobis.</p>
    </article>
    <article class="register-form-container">
        <form th:replace="fragments/forms :: register-form"></form>
    </article>
</section>

<section th:fragment="map-page" onload="loadMap()">
    <article>
        <h1>Karttasivu</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nihil porro exercitationem sint quidem fugit architecto autem, voluptate eum facere nisi repellat sunt debitis provident inventore ex rem placeat iusto.</p>
    </article>
    <article>
        <figure class="map-container">
            <div id="map"></div>
        </figure>
    </article>
</section>

<section th:fragment="user-page">
    <h1>Käyttäjäsivu</h1>
</section>