.register-form-container {
    background: darkkhaki;
    padding: 1rem;
    line-height: 3rem;
    border-radius: 0.25rem;
    border: 0.1rem solid black;
    
}

.add-location-form {
    background: darkkhaki;
    padding: 1rem;
    line-height: 3rem;
    border-radius: 0.25rem;
    border: 0.1rem solid black;

}

.add-location-form ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}