@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Imperial+Script&family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Imperial+Script&family=Moon+Dance&family=Waterfall&display=swap');

:root {
    --main-font-color: #fcfdf6;
    --nav-and-footer-color: rgb(53 47 47);
    --body-bg-color: #4b4242;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Imperial Script', cursive, Arial, Helvetica, sans-serif;
    color: var(--main-font-color);
    background-color: var(--body-bg-color);
    
}


nav {
    background-color: var(--nav-and-footer-color);
    padding: 1rem;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

a, p, li, label {
    /* font-family: 'Dancing Script', cursive; */
    font-size: 1.8rem;
}

p {
    font-size: 2.5rem;
    font-family: 'Moon Dance', cursive;
    
    /* font-family: 'Waterfall', cursive; */
    /* font-family: 'Dancing Script', cursive; */
}

main {
    background-image: url("../images/compass-g0559b3d95_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem;
    padding: 2rem;
    min-height: 50rem;
    
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--nav-and-footer-color);
}

.nav-button {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: var(--nav-and-footer-color);
}

.nav-button:hover {
    cursor: pointer;
    background-color: rgb(22, 18, 18);
}

article h1 {
    text-align: center;
}

article p {
    text-align: center;
}

#main-content-fragment {
    justify-content: center;
    margin: 0 5rem 0 5rem;
}