/* @import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Imperial+Script&family=Waterfall&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Imperial+Script&family=Moon+Dance&family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

:root {
    --main-font-color: #fcfdf6;
    --nav-and-footer-color: rgb(53 47 47);
    --body-bg-color: #4b4242;

}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Imperial Script', cursive, Arial, Helvetica, sans-serif;
    color: var(--main-font-color);
    background-color: var(--body-bg-color);

}


nav {
    /* background-color: var(--nav-and-footer-color); */
    background: linear-gradient(180deg, var(--nav-and-footer-color), rgb(98 98 88));
    padding: 1rem;

}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

/* nav ul > * {
    justify-content: center;
} */

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

a, p, li {
    /* font-family: 'Dancing Script', cursive; */
    font-size: 1.8rem;
}

label {
    font-size: 2.5rem;
}

p {
    font-size: 2.5rem;
    font-family: 'Moon Dance', cursive;
    /* font-family: 'Waterfall', cursive; */
    /* font-family: 'Dancing Script', cursive; */
}

main {
    background-image: url("../images/compass-g0559b3d95_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem;
    min-height: 53rem;

}

footer {
    text-align: center;
    padding: 1rem;
    /* background-color: var(--nav-and-footer-color); */
    background: linear-gradient(1deg, var(--nav-and-footer-color), rgb(93 93 87));
}

.nav-button {
    padding: 1rem;
    border-radius: 0.25rem;
    text-shadow: 4px 8px 9px black, 15px 9px 25px #0d0d51, -1px 2px 5px darkblue;
    /* background-color: var(--nav-and-footer-color); */
}

.nav-button:hover {
    cursor: pointer;
    background-color: rgb(64 59 59);
}


article h1, article p {
    text-align: center;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    /* text-shadow: -1px 0 #5e5d5d, 0 1px white, 1px 0 #9f8e8e, 0px 0px #2178a7; */
}

#main-content-fragment {
    justify-content: center;

}

/* Tablet and above */
@media only screen and (min-width: 768px) {
    #main-content-fragment {
        margin: 0 5rem 0 5rem;
    }

    main {
        padding: 2rem;
        min-height: 83rem;
    }

    nav ul {
        flex-direction: row;
    }
}

/* iPad pro and bigger */
@media only screen and (min-width: 1024px) {
    main {
        min-height: 117rem;
    }
}

@media only screen and (min-width: 1440px) {
    main {
        min-height: 121rem;
    }
}