#main-content-fragment {
    display: flex;
    justify-content: center;
}

.map-container {
    border-radius: 0.5rem;
    border: 0.25rem solid black;
}


#map { 
    width: 100%;
    height: auto;
    min-width: 40rem;
    min-height: 30rem; 
}
    