<!-- Register form -->
<form th:action="@{/register}" method="post" th:fragment="register-form" class="register-form-container" th:object="${userAccount}">
    <table>
        <thead>
            <tr>
                <th colspan="2">
                    <h1>Rekisteröidy</h1>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label for="username">Käyttäjätunnus: </label>   
                </td>
                <td><input type="text" th:name="username" autocomplete="off" readonly 
                    onfocus="this.removeAttribute('readonly');"></td>
            </tr>
            <tr>
                <td>
                    <label for="password">Salasana: </label>
                </td>
                <td><input type="password" th:name="password" autocomplete="off" readonly 
                    onfocus="this.removeAttribute('readonly');"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <input type="submit" value="Rekisteröidy" class="button submit-button">
                </th>
            </tr>
        </tfoot>
    </table>
</form>

<form onsubmit="addLocation(event, this)" action="/locations/add"  method="post" th:fragment="add-location-form" class="add-location-form" >
    <table>
        <tbody>
            <tr>
                <td><label for="locationName">Nimi: </label></td>
                <td><input type="text" name="locationName" id="locationName"></td>
            </tr>
            <tr>
                <td><label for="latitude">Latitude: </label></td>
                <td><input type="number" step="any" name="latitude" id="locationLatitude" value="0"></td>
            </tr>
            <tr>
                <td><label for="longitude">Longitude: </label></td>
                <td><input type="number" step="any" name="longitude" id="locationLongitude" value="0"></td>
            </tr>
            <tr class="add-img-container">
                <td><label for="locationImage" class="fas fa-camera"></label></td>
                <td><input type="file" name="locationImage" id="locationImage"></td>
            </tr>
            <tr>
                <td><label for="description">Paikan kuvaus: </label></td>
                <td><textarea name="description"  cols="30" rows="10"></textarea></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="1"><input type="submit" value="Tallenna" class="button submit-button"></th>
            </tr>
        </tfoot>
    </table>
</form>