<nav th:fragment="main-navigation">
    <ul>
        <li onclick="loadFragment('info-page')" class="nav-button">
            <h1>Matkaajapalvelu</h1>
        </li>
        <li onclick="loadFragment('register-page')" class="nav-button" sec:authorize="isAnonymous()">
            <h3>Rekisteröidy</h3>
        </li>
        <li onclick="loadFragment('map-page')" class="nav-button" sec:authorize="isAuthenticated()">
            <h3>Karttasivu</h3>
        </li>
        <li onclick="loadFragment('user-page')" class="nav-button" sec:authorize="isAuthenticated()">
            <h3>Käyttäjätili</h3>
        </li>
        <li>
            <form th:action="@{/login}" th:method="post"  sec:authorize="isAnonymous()" class="loginform">
                <label for="username">Tunnus: </label>
                <input type="text" th:name="username">
                <label for="password">Salasana: </label>
                <input type="password" th:name="password">
                <label>
                    <input type="checkbox" checked="checked" name="remember-me"> Remember me
                  </label>
                <input type="submit" value="Kirjaudu sisään" class="button login-button">
            </form>
            <form th:action="@{/logout}" th:method="post" sec:authorize="isAuthenticated()" class="loginform">
                <input type="submit" value="Kirjaudu ulos" class="button login-button">
            </form>
        </li>
    </ul>
</nav>