<section th:fragment="front-page" class="front-page-content">
    <article>
        <h1>Tervetuloa!</h1>
        <p class="info-box">Tässä sijaintipalvelussa voit rekisteröityä käyttäjäksi, jonka jälkeen voit oman tilin
            kautta lisätä sijainteja haluamaasi paikkaan. Jos olet vaikka ulkomaanmatkalla, voit kätevästi tähän
            palveluun lisätä paikan nimen ja sijaintitiedot, ja vaikka myöhemmin palata asiaan.</p>
    </article>
    <article>
        <form th:replace="fragments/forms :: register-form"></form>
    </article>
</section>

<section th:fragment="map-page" onload="loadMap()">
    <article>
        <h1>Paikat</h1>
        <p class="info-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nihil porro exercitationem
            sint quidem fugit architecto autem, voluptate eum facere nisi repellat sunt debitis provident inventore ex
            rem placeat iusto.</p>
    </article>
    <article class="add-map-and-form-container">
        <aside>
            <form th:replace="fragments/forms :: add-location-form">
            </form>
        </aside>
        <figure class="map-container">
            <div id="map"></div>
        </figure>
    </article>
</section>

<section th:fragment="user-page">
    <article>
        <h1>Valikko</h1>
    </article>
    <article  class="user-info">
        <h3>Käyttäjän tiedot</h3>
        <h4>Käyttäjätunnus: <span th:text="${user.username}"></span></h4>
    </article>
    <article class="locations-info">
        <table>
            <thead>
                <tr>
                    <th colspan="3"><h3>Sijainnit</h3></th>
                </tr>
                <tr>
                    <th><h4>Paikan nimi</h4></th>
                    <th><h4>Latitude</h4></th>
                    <th><h4>Longitude</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="location : ${user.locations}">
                    <td th:text="${location.name}"></td>
                    <td th:text="${location.latitude}"></td>
                    <td th:text="${location.longitude}"></td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
        
        <ul >
            <li ></li>
        </ul>
    </article>
</section>