<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head-fragment"></head>

<body onload="loadFragment('front-page')">
    <header th:replace="fragments/header :: main-header"></header>
    <!-- Generic erros here: -->
    <div th:if="${error}" class="alert"><span>
        <div class="alert-content alert-error">
            <p th:text="${error}"></p>
        </span>
        <button type="button" class="btn-close" onclick="closeAlert()">X</button>
        </div>     
    </div>
    <!-- Error message on login --> 
    <div th:if="${param.error}" class="alert alert-login"><span>
        <div class="alert-error">
            <p>Väärä tunnus tai salasana</p>
        </span>
        <button type="button" class="btn-close" onclick="closeAlert()">X</button>
        </div>     
    </div>
    <!-- Success messages -->
    <div th:if="${success}" class="alert"><span>
        <div class="alert-content alert-success">
            <p th:text="${success}"></p>
        </span>
        <button type="button" class="btn-close" onclick="closeAlert()">X</button>
        </div>     
    </div>
    <!--  -->
    <main>
        <section id="main-content-fragment"></section>
    </main>

    <footer th:replace="fragments/footer :: main-footer"></footer>

</body>

</html>